<%- include('partials/header') %>

<main>
  <div class="column">
    <p>Hello, World!</p>
    <p>MOTTAERO is a performance crew based at <a href="https://www.seoularts.ac.kr/" rel="noopener noreferrer" target="_blank">Seoul Institute of the Arts</a>, dedicated to exploring movement, expression, and collaborative arts. Guided by the philosophy of performing "as we please, in our own style."</p>
    <p>Members:</p>
    <ul>
      <li><a href="/students/daeun-kim">Daeun Kim</a></li>
      <li><a href="/students/eunji-cho">Eunji Cho</a></li>
      <li><a href="/students/hyungjin-ahn">Hyungjin Ahn</a></li>
      <li><a href="/students/hyungmo-kim">Hyungmo Kim</a></li>
      <li><a href="/students/hyunjun-ahn">Hyunjun Ahn</a></li>
      <li><a href="/students/pyeonghwa-jang">Pyeonghwa Jang</a></li>
      <li><a href="/students/sunhwi-jang">Sunhwi Jang</a></li>
      <li><a href="/students/yeomin-kim">Yeomin Kim</a></li>
    </ul>
    <p>The team resides at <a href="https://www.seoularts.ac.kr/" rel="noopener noreferrer" target="_blank">Seoul Institute of the Arts</a>:</p>
    <p>171, Arts-daehak-ro, Danwon-gu<br />
    Ansan-si, Gyeonggi-do<br />
    <a href="https://maps.app.goo.gl/uX73Y9yAzeLgCezQ7" rel="noopener noreferrer" target="_blank">Map (Ansan Campus)</a><br />
    15263<br />
    Republic of Korea</p>
  </div>
</main>

<%- include('partials/footer') %>
